.imgAlign{
    width:60%;
    margin-left: 25%;
}
.bntAddCart{
    width: 100%;
    background-color: rgb(116, 197, 116);
}
.divMaster{
    width: 90%;
    align-items: center;
}
.textTitle{
    font-size: xx-large;
    margin-left: 2%;
}
.btnCalcFrete{
    margin-left: 4%;
}