.Order{
    margin: 10% 3%;
    width: 100%;
}
.EditRows{
    display: flex;

}
.divMaster{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}
.moveButton{
    position: absolute;
    top: 89%;
    left: 60%;
}
.fieldlength{
    width: 400px;
    margin-left: 2%;
}
.cardLength{
    width: 200px;
    height: 335px;
    margin-left: 10%;
    margin-top: 5%;
}
.fontCardHeader{
    font-size: 18px;
}
.fontCardContent{
    font-size: smaller;
}